/* ----
-serif
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;

-sans-serif
font-family: 'Poppins', sans-serif; 
font-family: 'Saira Semi Condensed', sans-serif;
---- */


.aboutContainer{
    display: flex;
    flex-direction: column;

    gap: 2rem;
    align-items: flex-start;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    .aboutPanel{
        z-index: 1;
        position: relative;
    }

    .spanConnect{
        display: inline-block;
        font-family: 'Poppins', sans-serif; 
        line-height: 1.5rem;
        letter-spacing: .1rem;
    }
    
    
    h1{
        font-size: 3rem;
        font-weight: 600;
    }

    h2{
        font-size: 3.5rem;
        font-family: 'Saira Semi Condensed', sans-serif;
        font-weight: 500;
    }
    h3{
        font-size: 2rem;
        font-family: 'Saira Semi Condensed', sans-serif;
        // font-family: 'Playfair Display', serif;
        // font-style: italic;
    }
    p{
        max-width: 50ch;
        font-family: 'Poppins', sans-serif; 
        line-height: 1.5rem;
        letter-spacing: .1rem;
    }
}

.stickFood{
    position: relative;
    display: inline-block;
    height: 3rem;
    width: 1.5rem;
    transform: translate( 0%, 20%) rotate(15deg);
}

.showItemContainer{
    display: inline-block;
    border-bottom: 1px solid;
    cursor: pointer;
    margin: 0 .5rem;

    &:hover ~ .showImageContainer, &:active ~ .showImageContainer{
        opacity: 1;
        transform: scaleY(1);
    }
}

.showImageContainer{
    width: 100%;
    height: 300px;
    position: absolute;
    // background-color: aqua;
    bottom: 52px;
    left: 0;
    right: 0;
    margin: 0 auto;

    transition: all .2s ease-out;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 50% 100% 0;
    z-index: 2;

    
}


@media (min-width: 768px) {
    .offset{
        align-self: flex-end;
    }
}
