.burgerContainer{
    position: fixed;

    z-index: 3;

    top: 5%;
    right: 4%;

    
}

.modelContainer{
    width: 100%;
    height: 70%;
    min-height: 250px;

    z-index: 0;

    /* background-color: aqua; */
}