.burgerContainer {
  position: fixed;

  z-index: 3;

  top: 35%;
  right: 4%;

  transition: transform 0.32s ease-in-out;
  transform: rotate(-45deg);

  &:hover,
  &:active {
    transform: rotate(0deg);
  }
}

/* ----
-serif
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;

-sans-serif
font-family: 'Poppins', sans-serif; 
font-family: 'Saira Semi Condensed', sans-serif;
---- */

.drawerBodyContainer {
  // background-color: aqua;
  // flex: 1 1 80%;
  height: 100vh;
}

.drawerBody {
  height: 80%;
  display: flex;
  align-items: center;
}

.optionContainer{
  flex: 1 1 50%;
  padding: 1rem;
  // background-color: rgb(0, 119, 119);
}

.modelContainer {
  flex: 1 1 50%;
  // background-color: brown;

  // ------------ for flex items that DO NOT SHRINK! 
  // https://stackoverflow.com/a/38383437
  min-width: 0;

  width: 100%;
  height: 100%;
  max-height: 500px;
  
  padding: 1rem;
  cursor: pointer;
}

.burgerLines {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 6px;
}

.burgerLine {
  width: 16px;
  height: 3px;
  background-color: white;
}

.burgerLine:nth-child(2) {
  width: 24px;
}

.drawerNav {
  font-family: 'Poppins', sans-serif; 
  font-size: 4vh;
  font-weight: 300;
  letter-spacing: .1rem;
  
}

.drawerButtonContainer {
  width: 100%;
  display: flex;

  transition: all .23s ease-out;
  cursor: pointer;

  &:hover,
  &:active{
    background-color: hsla(0, 0%, 50%, 0.25);
  }
}

.divider {
  width: 100%;
  // max-width: 30rem;
  border-bottom: 1px solid;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .drawerBody {
    flex-direction: column;
  }
}
