.contactContainer{
    
    width: 100%;
    height: 100vh;
    padding: 0 4vw;

    position: relative;

    display: flex;

    flex-direction: column;
    justify-content: center;

    gap: 10vh;
}

.contactHeading{
    font-size: 8vh;
    font-family: 'Merriweather', serif;
    font-weight: 300;

    /* position: absolute;

    top: 20%;
    left: 4%; */
}

.contactInfo{
    /* position: absolute;
    left: 4%;
    bottom: 20%; */

    display: flex;
    gap: 1rem;
    align-items: baseline;
}

/* .contactLoc{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 5vh;
    font-weight: 400;
} */

.contactEmail{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: clamp(.8rem, 5vw, 3rem);
    font-weight: 200;

    position: relative;
    overflow: hidden;
}


.contactEmail a::before,
.contactEmail a::after {
    position: absolute;
    content: "";
    border-bottom: 4px solid;
    border-radius: 1em;
    bottom: 0;

    
}

.contactEmail a::before{
    width: 100%;
    left: 0;
    transform: translateX(-120%);
    transition: transform 2s ;
}

.contactEmail a::after{
    width: 100%;
    transform-origin: left;
    transform: translateX(-100%);
    transition: transform 2s ;
}

.contactEmail a:hover::before{
    transform: translateX(0%);
}

.contactEmail a:hover::after{
    transform: translateX(0%);
}

.contactMessage{
        
    padding-left: 1rem;
    height: 30vh;

    /*
    position: absolute;
    right: 4%;
    bottom: 30%; */

    align-self: flex-end;
    text-align: right;
}

.contactMessage p{
    font-size: 1.2rem;
    
    
}
.contactMessage span{
    font-size: 2.5rem;
}