.linkContainer{
    font-size: 1rem;
    letter-spacing: .1em;
    /* mix-blend-mode: difference; */

    position: relative;
    overflow: hidden;
    display: inline-block;
    font-family: 'Poppins', sans-serif;

    mix-blend-mode: difference;
    
}

/* font-family: 'Merriweather', serif;

font-family: 'Poppins', sans-serif; */


.linkContainer a::before,
.linkContainer a::after {
    position: absolute;
    content: "";
    border-bottom: 3px solid;
    border-radius: 1em;
    bottom: 0;

    transition: transform .4s ease-out;

    /* mix-blend-mode: difference; */
}

/* .linkContainer a::before{
    width: 1em;
    transform-origin: left;
}

.linkContainer a::after{
    width: 100%;
    right: 0;
    transform: translateX(105%);
}

.linkContainer a:hover::before{
    transform: scaleX(0);
}

.linkContainer a:hover::after{
    transform: translateX(0);
} */

.linkContainer a::before{
    width: 100%;
    left: 0;
    transform: translateX(-105%);
}

.linkContainer a::after{
    width: 1em;
    transform-origin: left;
    transform: translateX(-100%);
}

.linkContainer a:hover::before{
    transform: translateX(0);
}

.linkContainer a:hover::after{
    transform: translateX(0%);
}