.mainContainer{
    min-height: 100vh;
    width: 100%;

    
    padding: 0 1rem;
    padding-top: 8rem;

    margin: 0 auto;
    
    max-width: 1920px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.portalContainer{
    position: relative;
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    height: 100%;

    transition: transform 5s ease-out;

    &:hover{
        transform: scale(1.6);
    }
}

.portalOverlay{
    
    height: 100%;
    width: 100%;
    border-radius: 50%;

    position: absolute;
    z-index: 2;
    cursor: pointer;
}

