.fallbackContainer{
    width: 100%;
    height: 100vh;

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
}

.spinnerContainer{
    position: absolute;
    transform: scale(6.5);
}

.checkMessage{
    width: 24ch;
    text-align: center;
}