.footerContainer{
    position: relative;
    margin: 0 auto;
    /* max-width: 500px; */
    padding: 8rem 4vw;
}   

.bottomContainer{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    gap: 3rem;
}

.linkContainer{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    align-items: flex-end;
}

.linkOut{
    cursor: pointer;
    width: max-content;
    padding: .2rem .4rem;

    border-radius: .3rem;

    transition: all ease-out .3s;
    text-underline-offset: 4px;
}

.linkOut:hover{
    background-color: #76746871;

    text-decoration: underline;
}

.worksMoti{
    
    bottom: 0;
    font-size: clamp(5rem, 15vw, 15rem);
    font-family: 'Poppins', sans-serif;
    line-height: .72;
}

.copy{
    padding: 0rem .4rem;
    font-family: 'Poppins', sans-serif;
    right: 4vw;
    bottom: 0;
}


@media (max-width: 700px) {
    .bottomContainer{
        flex-direction: column;
        justify-content: space-around;
    }
    .worksMoti{
        align-self: flex-start;
    }
}