.main {
  overflow-x: hidden;
}

/* .modelCanvasContainer{
  width: 100%;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
  background-color: aqua;
} */

/* 414 x 736 iphone 7 plus */

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .container {
    width: 100vh;
    height: 100vw;
    
  }
} */
