.brandContainer {
  position: fixed;
  z-index: 3;
  top: 35%;
  left: 4%;
  cursor: pointer;

  .m,
  .w {
    display: inline-block;
    transition: all 0.4s ease-in-out;
  }

  .separator {
    width: 5rem;
    border: 2px solid;

    position: absolute;
    left: 50%;
    top: 50%;
    
    transform-origin: 50%;
    transition: all .3s ease-in-out;
    transform: translate(-50%, 0%) rotate(120deg) scale(0);
  }

  &:hover {
    .m {
      transform: translate(-7%, -33%);
    }

    .w {
      transform: translate(7%, 33%);
    }

    .separator {
      transform: translate(-50%, 0%) rotate(120deg);
    }

  }
}
