.navContainer{
    position: fixed;
    z-index: 1;

    top: 6%;
    right: 15%;
}

.navbar{
   
    /* width: 100%; */
    /* max-width: 500px; */
    /* margin: 0 auto; */
    padding: .4rem 1rem;

    justify-content: center;
    align-items: center;

    /* background-color: rgb(111, 0, 255); */
}


@media (max-width: 600px) {
    .navContainer{
        visibility: collapse;
    }
}

@media (max-height: 768px) {
    .navContainer{
        visibility: collapse;
    }
}